################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webb/.vs
/webb/bin/Debug/net10.0
/webb/obj
/webb/appsettings.Development.json
